<!-- views/article3.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article 3</title>
    <link rel="stylesheet" href="/articles.css">
</head>
<body>
    <div class="container">
        <h1>Article 3</h1>
        <div class="article-details">
            <p><%= articles[2].body %></p>
            <h4>Author</h4>
            <p><%= articles[2].author %></p>
        </div>
    </div>
</body>
</html>